{% extends "base.html" %}
{% block content %}
<br>
<div class="container">
    <div class="col-sm-8 col-md-8">
        <form id="myForm" method="GET" class="form">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2 col-md-2"><label>Order by : </label></div>
                    <div class="col-sm-8 col-md-8">
                        <div class="form-group">
                            <select class="form-control" name="order" id="exampleFormControlSelect1">
                                <option value="">All</option>
                                {% for hashtag in hashtags %}
                                <option value="{{ hashtag.id }}">{{ hashtag.hashtag }}  </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-2 col-md-2">
                        <input type="submit">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <br>
    {% for tw in resultados %}
    <div class="row post">
        <div class="col-sm-3 col-md-3">
            Autor: {{ tw.user.screen_name }}
        </div>
        <div class="col-sm-9 col-md-9">
            Publicado em: {{ tw.created_at }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12">
            {{ tw.text|linebreaks }}
        </div>
    </div>
    <br>
    {% empty %}
    <div class="row post">
        <div class="col-sm-12 col-md-12">
            <p>Não foi possível localizar nenhum tweet</p>
        </div>
    </div>
    {% endfor %}
    <br>
    <!--<table class="table table-striped">
      <thead>
        <tr>
            <th>Autor</th>
            <th>Data de publicação</th>
            <th>Mensagem</th>
        </tr>
      </thead>
      <tbody>
        {% for tw in resultados %}
            <tr>
                <td> {{ tw.user.screen_name }} </td>
                <td> {{ tw.created_at }} </td>
                <td> {{ tw.text }} </td>
            </tr>
        {% endfor %}
      </tbody>
    </table>-->
</div>


{% endblock %}